<div class="row align-self-end mt-5">
  <div class="col">
    <h5>Edit <%= @task.title %></h5>
  </div>
</div>
<div class="row align-self-center">
  <div class="col">
  <%= render 'form', task: @task %>
  </div>
</div>
<div class="row align-self-center mt-5">
  <div class="col">
    <p class="text-muted">⮑ <%= link_to 'Back to all tasks', tasks_path %></p>
  </div>
</div>